:root {
  --color: #118bee;
  --hover-brightness: 1.2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.text-data {
  padding: 1rem;
}

.btn {
  margin: 1rem;
  display: inline-block;
  background-color: var(--color);
  line-height: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: white;
}

.btn:hover {
  filter: brightness(var(--hover-brightness));
}

input[type="submit"] {
  outline: 0;
  border: 0;
  display: inline-block;
  background-color: var(--color);
  line-height: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  filter: brightness(var(--hover-brightness));
}

.form-block {
  background: #fff;
  padding: 40px;
  max-width: 400px;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 20%);
  margin-left: 1rem;
  border-radius: 0.25rem;
}

.text-center {
  text-align: center;
  margin-bottom: 1rem;
}
.form-input {
  margin-bottom: 1rem;
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

form input {
  border: none;
  border-radius: 4px;
  height: 36px;
  background: #efefef;
  outline: none;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.err {
  color: red;
  padding: 0.375rem 0.75rem;
}
